<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <h1><em>todo-app</em></h1>
    <img src="/picture" />
    <h2>Todos</h2>
    <fieldset style="margin: 0">
      <legend>Add todo</legend>
      <form class="add-todo-form" method="post" action="/todos">
        <textarea name="text" placeholder="Enter a new todo (max 140 characters)" maxlength="140" required></textarea>
        <button type="submit">Add</button>
      </form>
    </fieldset>
    <br>
    <div class="todo-list">
      {{ range .todos }}
      {{ if .Done }}
      <div class="todo done">
        <span>{{ .Text }}</span>
      </div>
      {{ else }}
      <div class="todo">
        <span>{{ .Text }}</span>
        <form method="post" action="/todos/{{ .ID }}"><button type="submit">mark done</button></form>
      </div>
      {{ end }}
      {{ end }}
    </div>
    <br>
    <form method="post" action="/break">
      <button type="submit"><strong>break the app</strong></button>
    </form>
  </body>
</html>
